*{
margin:0;
padding:0;
box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    width: 100%;
    height: 100%;
    z-index: 0;
    
    div{
         width: 100%;
    height: 100%;
    background-color: black;
    position: relative;

        button{
            padding:1rem;
            background-color: red;
            color: white;
            border-radius: 1rem;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%) ;
            font-weight: 700;
            font-size: 2rem;
            cursor: pointer;
            z-index: 1;

        }

        button:active{
            scale:0.95;

        }

        h1{
            white-space: nowrap;
            
        }
    }
    }
